@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #437FC7; 
  --color-primary-text: #212121;
  --color-secondary-text: #7a7a7a;
  /* --color-secondary: #ff9800; 
  --color-tertiary-500: #78dcca; */
}

html {
  font-family: "Poppins", sans-serif;

  /* CUSTOM SCROLL BAR */
  scrollbar-width: thin;
  scrollbar-color: #adb1b5 transparent; /* thumb color | track color */
}

html::-webkit-scrollbar {
  width: 8px;      /* Width of the vertical scrollbar */
  height: 8px;     /* Height of the horizontal scrollbar */
}

html::-webkit-scrollbar-track {
  background: transparent; /* Makes the track blend into the background */
}

html::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* Tailwind gray-300 */
  border-radius: 20px;       /* Roundness of the thumb */
  border: 2px solid transparent;
  background-clip: content-box;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; 
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.anim-fade-up {
  opacity: 0; 
  animation: fadeUp 0.3s ease-out forwards;
}

